@using CodeGenerator.Core.Implements;
@using System.Text;
@{
    string ref1 = Model.Namespace + ".Infra.Common.BaseEntities";
    string refTable = "";
    string ns = Model.Namespace + ".Core.Entities";
}
using System;
using System.Collections.Generic;
using System.Text;
using System.ComponentModel.DataAnnotations.Schema;
using @ref1;

namespace @ns
{
    /// <summary>
    /// @Model.Comment
    /// </summary>
    public class @Model.ClassName : @Model.Abstract
    {
        @foreach (Field field in Model.ExcludeFields)
        {
        string summary = @"        /// <summary>        "+"\r\n        /// " + field.Comment + "\r\n        "+"/// </summary>"+"\r\n";
        string property = "        public " + field.DataType + " " + field.ColumnName+" { get; set; }\r\n";
        @summary
        @property
        }
        @if(Model.ForeignKeys.Count > 0)
        {
            
            foreach (var foreignKey in Model.ForeignKeys)
            {

                refTable += @"        /// <summary>        "+"\r\n        /// " + foreignKey.Description + "\r\n        "+"/// </summary>"+"\r\n";
                refTable += "        public virtual " + foreignKey.JoinTableName + " " + foreignKey.JoinTableName+" { get; set; }\r\n";
            }
        @refTable
        }
      
    }
}