@using CodeGenerator.Core.Implements;
@using System.Text;
using AutoMapper;
using System.Collections.Generic;
using CodeGenerator.Infra.Common.BaseEntities;
@{
    string ns = Model.Namespace +".Profiles";
    var usingBuilder = new StringBuilder();
    var mapBuilder = new StringBuilder();
    foreach (var table in @Model.Tables)
    {
        usingBuilder.Append("using " + Model.Namespace + ".Dto." + table.ClassName + ";\r\n");
        mapBuilder.Append("        /*" + table.Comment + "*/\r\n");
        mapBuilder.Append("        CreateMap<" + table.ClassName + "," + table.ClassName + "Input>();\r\n");
        mapBuilder.Append("        CreateMap<" + table.ClassName + "Input," + table.ClassName + ">();\r\n");
        mapBuilder.Append("        CreateMap<" + table.ClassName + "," + table.ClassName + "QueryResult>();\r\n");
        mapBuilder.Append("        CreateMap<" + table.ClassName + "QueryResult," + table.ClassName + ">();\r\n");
        mapBuilder.Append("\r\n");
    }
@usingBuilder.ToString();
}

namespace @ns
{
    /// <summary>
    /// AutoMapper 配置
    /// </summary>
    public class MapperProfiles : Profile
    {
@mapBuilder.ToString()
    }
}