@using CodeGenerator.Core.Implements;
@using System.Text;
using AutoMapper;
using System.Collections.Generic;
@{
    string firstNamespace = Model.Namespace[0];
    string ref1 = $"{firstNamespace}.Infra.Common.BaseEntities;";
    string ref2 = $"{firstNamespace}.Core.Entities;";
    string ns = $"{Model.FullNamespace}.Profiles";
    var usingBuilder = new StringBuilder();
    var mapBuilder = new StringBuilder();
    foreach (var table in @Model.Tables)
    {
        usingBuilder.Append($"using {Model.FullNamespace}.DTOs.{table.ClassName};\r\n");
        mapBuilder.Append($"\t\t/* {table.Comment} */\r\n");
        mapBuilder.Append($"\t\tCreateMap<{table.ClassName},{table.ClassName}Input>();\r\n");
        mapBuilder.Append($"\t\tCreateMap<{table.ClassName}Input,{table.ClassName}>();\r\n");
        mapBuilder.Append($"\t\tCreateMap<{table.ClassName},{table.ClassName}QueryResult>();\r\n");
        mapBuilder.Append($"\t\tCreateMap<{table.ClassName}QueryResult,{table.ClassName}>();\r\n");
        mapBuilder.Append("\r\n");
    }
}
using @ref1
using @ref2
@usingBuilder.ToString()
namespace @ns
{
    /// <summary>
    /// AutoMapper 配置
    /// </summary>
    public class MapperProfiles : Profile
    {
@mapBuilder.ToString()
    }
}