@using CodeGenerator.Core.Implements;
@using CodeGenerator.Core.Utils;
@using System.Text;
@{
    string className = $"{Model.ClassName}ParamsDto";
    string ns = $"{ViewBag.FullNamespace}.DTOs.{Model.ClassName}";
    string firstNamespace = ((string[])ViewBag.Namespace)[0];
    string ref1 = $"{firstNamespace}.Infra.Common.Paging;";
    var outBuilder = new StringBuilder();
    foreach (Field field in Model.Fields)
    {
        if (field.DataType.ToLower().Contains("datetime"))
        {
            var dataType = field.IsNullable ? field.DataType : field.DataType + "?";
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>\r\n");
            outBuilder.Append($"\t\tpublic {dataType} Begin{field.PropertyName} {{ get; set; }}\r\n");
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>\r\n");
            outBuilder.Append($"\t\tpublic {dataType} End{field.PropertyName} {{ get; set; }}\r\n");
        }else if ((new string[] { "short", "int", "long", "bool", "decimal", "float", "double" }).Any(t => t.Equals(field.DataType.ToLower())))
        {
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>"+"\r\n");
            outBuilder.Append($"\t\tpublic {field.DataType}? {field.PropertyName} {{ get; set; }}\r\n");
        }else
        {
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>"+"\r\n");
            outBuilder.Append($"\t\tpublic {field.DataType} {field.PropertyName} {{ get; set; }}\r\n");
        }
    }
}
using System;
using @ref1

namespace @ns
{
    /// <summary>
    /// @Model.Comment - 查询参数
    /// </summary>
    public class @className
    {
        /// <summary>
        /// 分页参数
        /// </summary>
        public PagedModel PageParams { get; set; }
@outBuilder.ToString()   
    }
}
