@using CodeGenerator.Core.Implements;
@using CodeGenerator.Core.Utils;
@using System.Text;
@{
    string className = $"{Model.ClassName}QueryResult";
    string ns = $"{ViewBag.FullNamespace}.DTOs.{Model.ClassName}";
    var outBuilder = new StringBuilder();
    foreach (Field field in Model.Fields)
    {
        outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>\r\n");
        outBuilder.Append($"\t\tpublic {field.DataType} {field.PropertyName} {{ get; set; }}\r\n");
    }
 }
namespace @ns
{
    /// <summary>
    /// @Model.Comment - 查询结果
    /// </summary>
    public class @className
    {
@outBuilder.ToString()	    
    }
}
