@using CodeGenerator.Core.Implements;
@using CodeGenerator.Core.Utils;
@using System.Text;
@{
    string className = $"{Model.ClassName}QueryParams";
    string ns = $"{ViewBag.FullNamespace}.DTOs.{Model.ClassName}";
    string firstNamespace = ((string[])ViewBag.Namespace)[0];
    string ref1 = $"{firstNamespace}.Infra.Common.BaseDTOs;";
    var outBuilder = new StringBuilder();
    foreach (Field field in Model.Fields)
    {
        if (field.DataType.ToLower().Contains("datetime"))
        {
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>\r\n");
            outBuilder.Append($"\t\tpublic {field.DataType} Begin{field.PropertyName} {{ get; set; }}\r\n");
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>\r\n");
            outBuilder.Append($"\t\tpublic {field.DataType} End{field.PropertyName} {{ get; set; }}\r\n");
        }else
        {
            outBuilder.Append($"\t\t/// <summary>\r\n\t\t/// {field.Comment}\r\n\t\t/// </summary>"+"\r\n");
            outBuilder.Append($"\t\tpublic {field.DataType} {field.PropertyName} {{ get; set; }}\r\n");
        }
    }
}
using @ref1

namespace @ns
{
    /// <summary>
    /// @Model.Comment - 查询参数
    /// </summary>
    public class @className
    {
        /// <summary>
        /// 分页参数
        /// </summary>
        public PagingParamDto PageParams { get; set; }
@outBuilder.ToString()   
    }
}
