@using CodeGenerator.Core.Implements;
@using CodeGenerator.Core.Utils;
@using System.Text;
@{
    string firstNamespace = ((string[])ViewBag.Namespace)[0];
    string ref1 = $"{firstNamespace}.Infra.Common.Implements";
    string ns = $"{ViewBag.FullNamespace}.Repository.{Model.ClassName}";
    string className = $"{Model.ClassName}Repository";
    string interfaceName = $"I{Model.ClassName}Repository";
    string baseRepository = $"EfRepository<Entities.{Model.ClassName}>, {interfaceName}";
    string ctor = $"{className}(DbContext dbContext, UnitOfWorkStatus unitOfWorkStatus)\r\n\t\t\t: base(dbContext, unitOfWorkStatus)";
    if (Model.TableType!=0)
    {
        baseRepository = $"QueryRepository<Entities.{Model.ClassName}>, {interfaceName}";
        ctor = $"{className}(DbContext dbContext)\r\n\t\t\t: base(dbContext)";
    }
}
using Microsoft.EntityFrameworkCore;
using @ref1;

namespace @ns
{
    public class @className : @baseRepository
    {
        public @ctor
        {
        }
    }
}